@model UsersWithRolesVM

<table class="table">
    <thead>
        <tr>
            <th>Users</th>
            <th>@Model.RoleNames</th>
        </tr>
    </thead>
    @foreach (var item in Model.Users_list)
    {
        <tbody>
            <tr id="user-id-@item.Id">
                <td>
                    @item.FirstName <br />
                    @item.LastName<br />
                    @item.Email<br />
                </td>
                <td>
                    @foreach (var role in Model.Roles_list)
                    {
                        string unique_id = item.Id + role.Id;
                        if (item.UserRoles.Where(w => w.RoleId == role.Id).Any())
                        {
                            <input type="checkbox" name="role" id="@unique_id" checked onclick="setUserData('@item.Id','@role.Id',event,'@unique_id')"> @role.Name
                        }
                        else
                        {
                            <input type="checkbox" id="@unique_id" name="role" value="@role.Id" onclick="setUserData('@item.Id','@role.Id',event, '@unique_id')"> @role.Name
                        }

                    }
                </td>
            </tr>
        </tbody>
    }
</table>